src/main/resources/schemas/nasads.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/hbrown-SANDBOX/itunes" targetNamespace="http://www.nuxeo.org/ecm/project/schemas/hbrown-SANDBOX/itunes">
  <!-- helper XSD definitions for list types -->
  <xs:element name="id" type="xs:string"/>
  <xs:element name="slug" type="xs:string"/>
  <xs:element name="url" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="content" type="xs:string"/>
  <xs:element name="category" type="xs:string"/>
</xs:schema>
